/* ------------general settings----------------   */

body {
  background: url("https://voxpopulisphere.files.wordpress.com/2015/12/fa_1185_tomwaits15003.jpg");
  font-family: "Passion One", cursive;
  box-sizing: border-box;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
}

h1 {
  font-family: "Passion One", cursive;
  text-align: center;
  letter-spacing: 1px;
  color: #293042;
}

h2 {
  text-align: center;
  letter-spacing: 1px;
  color: #293042;
  font-family: "Passion One", cursive;
}

.selected {
  background-image: linear-gradient(to right, #5d6d7e, #283747);
  color: white;
}

.questionAnswerForm {
  display: none;
}

.user-progress > h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.next,
.submitButton {
  margin-top: 30px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 5px;
  background-color: #326273;
  border: 1px white solid;
  color: #ececec;
  font-size: 1.2em;
  width: 100px;
}
.submitButton:focus {
  border: 3px solid red;
}
.restartButton {
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 5px;
  border: 1px white solid;
  background-color: #326273;
  color: #ececec;
  width: 200px;
  font-size: 1.5em;
}
.results {
  padding: 20px;
  margin: 0px;
}
.startButton {
  padding: 10px 20px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  display: block;
  border-radius: 5px;
  border: 1px white solid;
  background-color: #326273;
  color: #ececec;
  font-size: 1.5em;
  width: 150px;
}

.user-progress {
  display: none;
}
.wrong-answer {
  color: rgb(90, 22, 14);
  margin-bottom: 20px;
  margin-top: 0px;
}
fieldset {
  border: none;
  margin-right: auto;
  margin-left: auto;
}
input {
  border: 1px solid black;
  padding: 10px;
  list-style-type: none;
  margin: 0px auto 20px;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  background-color: #99a3a4;
  color: #121212;
  width: 80%;
  text-align: center;
  /*font-size: 1em;*/
  display: block;
}
img {
  width: 100%;
  align-self: center;
  border: 3px solid black;
  border-radius: 5px;
}

#wrongAnswer,
#rightAnswer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.restartButton {
  margin-top: 30px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 5px;
  background-color: #326273;
  color: #ececec;
  width: 200px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.flex-container {
  display: flex;
  flex-direction: row;
  color: #ececec;
  background: gray;
  opacity: 0.7;
  justify-content: space-around;
}

.user-progress {
  display: none;
}

input {
  border: 1px solid black;
  padding: 10px;
  list-style-type: none;
  margin: 0px auto 20px;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  background-color: #99a3a4;
  color: #121212;
  width: 100%;
  text-align: center;
  font-size: 1em;
  display: block;
}
:focus {
  border: 3px solid red;
}

/*-------mobile screen settings------------*/

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) and (orientation: portrait) {
  body {
    background: url("https://pbs.twimg.com/media/D-AM9kEU8AEU-y_.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 65% 0;
    min-height: 100vh;
    overflow: hidden;
  }
  h2 {
    margin-top: 50px;
  }

  .score {
    letter-spacing: 2px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    display: none;
  }
  #quote {
    font-family: "Lora", serif;
    letter-spacing: 1px;
    color: #293042;
    font-style: italic;
    text-align: center;
  }

  .startQuiz {
    justify-content: flex-end;
    width: 200px;
    height: 150px;
    padding: 10px;
  }

  .startButton {
    padding: 10px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 50%;
    display: block;
    border-radius: 5px;
    border: 1px white solid;
    background-color: #326273;
    color: #ececec;
    width: 150px;
  }

  .submitButton {
    margin-top: 10%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 5px;
    background-color: #326273;
    border: 1px white solid;
    color: #ececec;
    width: 100px;
  }

  input {
    border: 1px solid black;
    padding: 10px;
    list-style-type: none;
    margin: 0px auto 20px;
    border-radius: 5px;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 1px;
    background-color: #99a3a4;
    color: #121212;
    width: 100%;
    text-align: center;
    display: block;
  }

  #restart {
    background-image: url("https://media.ntslive.co.uk/crop/770x770/641f9320-3746-4f51-98a0-e3442aee8b45_1510531200.png");
    background-position-x: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    height: 100vh;
  }

  .questionAnswerForm {
    width: 200px;
    margin-left: 40px;
  }

  .flex-container-header {
    display: flex;
  }

  .wrong-answer {
    color: rgb(90, 22, 14);
    margin-bottom: 20px;
  }
}

/*iPhone 5 Landscape */
/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  body {
    background: url("https://voxpopulisphere.files.wordpress.com/2015/12/fa_1185_tomwaits15003.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: -20% 0;
    max-height: 100vh;
  }
  .flex-container h3 {
    margin: 10px;
  }
  .flex-container-header {
    display: flex;
    padding: 30px;
    margin-left: 250px;
    justify-content: flex-end;
  }
  .flex-container-header h1 {
    font-size: 20px;
  }

  .startButton {
    font-size: 1em;
    margin-top: 20px;
    width: 100%;
  }
  #quote {
    font-family: "Lora", serif;
    letter-spacing: 1px;
    color: #37415a;
    font-style: italic;
    text-align: left;
    font-size: 0.8em;
  }

  .questionAnswerForm {
    margin-left: 300px;
    font-size: 0.8em;
    padding: 20px 20px 0 20px;
  }
  .questionAnswerForm h2 {
    text-align: left;
  }
  .submitButton {
    width: 100%;
    margin-top: 0;
  }
}

/* iPhone 6,7,8 Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  body {
    background-size: cover;
  }
  .flex-container h3 {
    margin: 10px;
  }
  .flex-container-header {
    display: flex;
    padding: 30px;
    margin-left: 350px;
    justify-content: flex-end;
  }
  .flex-container-header h1 {
    font-size: 20px;
  }
  .startButton {
    margin-top: 30px;
  }
  #quote {
    font-family: "Lora", serif;
    letter-spacing: 1px;
    color: #37415a;
    font-style: italic;
    text-align: left;
    font-size: 0.8em;
  }
  .questionAnswerForm {
    margin-left: 350px;
    font-size: 0.8em;
    padding: 20px 20px 0 20px;
  }
  .questionAnswerForm h2 {
    text-align: left;
  }
}
/*--------iPad display----------*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1224px) {
  main {
    display: flex;
    justify-content: flex-end;
  }

  #quote {
    font-family: "Lora", serif;
    letter-spacing: 1px;
    color: #37415a;
    font-style: italic;
    text-align: center;
    font-size: 1.3em;
  }

  h1 {
    text-align: center;
    letter-spacing: 1px;
    font-size: 2em;
    width: 100%;
    color: #293042;
  }

  h2 {
    text-align: center;
    letter-spacing: 1px;
    color: #293042;
  }

  .flex-container-header {
    display: flex;
    justify-content: flex-end;
  }

  .questionAnswerForm {
    display: none;
    margin-top: 50px;
    margin-right: 10%;
    width: 300px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .score {
    letter-spacing: 2px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    display: none;
  }

  .startQuiz {
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 350px;
    margin-top: 90px;
    margin-right: 60px;
  }
  #restart {
    margin-top: 30px;
    background-position: center;
    margin-right: auto;
    margin-left: auto;
    font-family: "Passion One", cursive;
  }
}

/*-----------desktop display------------*/
@media only screen and (min-width: 1224px) {
  body {
    background-image: url("https://voxpopulisphere.files.wordpress.com/2015/12/fa_1185_tomwaits15003.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Anton", sans-serif;
    color: white;
  }

  header {
    margin-top: 10%;
    margin-left: 20px;
  }
  h1 {
    text-align: center;
    font-size: 2.5em;
    letter-spacing: 1px;
  }

  .on-full-screen {
    font-size: 1.5em;
  }
  h2 {
    color: #37415a;
    font-size: 2.3em;
  }

  h3 {
    color: rgb(90, 80, 80);
  }

  input {
    border: 1px solid black;
    padding: 15px;
    list-style-type: none;
    border-radius: 5px;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 1px;
    background-color: #99a3a4;
    color: #121212;
    text-align: center;
    font-size: 1.5em;
    display: block;
  }

  .startQuiz {
    justify-content: flex-end;
    width: 300px;
    height: 500px;
    padding: 10px;
    margin-right: 10%;
  }

  .flex-container {
    display: flex;
    margin-left: 60%;
    background: none;
  }
  .flex-container-header {
    display: flex;
    justify-content: flex-end;
  }

  /* landing screen quote*/

  #quote {
    font-family: "Lora", serif;
    letter-spacing: 1px;
    color: #293042;
    font-style: italic;
    text-align: center;
    font-size: 1.3em;
  }

  .submitButton {
    margin-top: 40px;
    font-size: 1.5em;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 5px;
    background-color: #326273;
    border: 1px gray solid;
    color: #ececec;
    width: 100px;
  }

  .questionAnswerForm {
    display: none;
    margin-top: 50px;
    margin-right: 10%;
    width: 500px;
  }
  .user-progress {
    display: none;

    color: #ececec;
    font-size: 1.5em;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .score {
    display: none;
    color: #ececec;
    font-size: 1.5em;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  #restart {
    margin-top: 50px;
    background-position: center;
    margin-right: auto;
    margin-left: auto;
    font-family: "Passion One", cursive;
  }
  main {
    display: flex;
    justify-content: flex-end;
  }
}
